In [111]:
import pandas as pd
import numpy as np

In [112]:
df = pd.read_csv("C:/Users/jacek/fatal-police-shootings-data.csv")

In [113]:
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

### Races with signs of mental illness stats

In [138]:
df2 = df.pivot_table(index='race', columns='signs_of_mental_illness', aggfunc = 'count', values='id')
df2

signs_of_mental_illness  False  True
race
A                           69    24
B                         1114   184
H                          745   157
N                           64    14
O                           37    11
W                         1763   713

### Race with highest mental illness rate

In [139]:
df2['pct_of_illness'] = df2.apply(lambda x: x[True] / np.sum(x), axis=1)
df2[df2['pct_of_illness'] == df2['pct_of_illness'].max()]

signs_of_mental_illness  False  True  pct_of_illness
race
W                         1763   713        0.287964