In [1]:
import pandas as pd

In [18]:
df = pd.read_csv("C:/Users/jacek/fatal-police-shootings-data.csv")

In [19]:
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [20]:
df.groupby(['race', 'signs_of_mental_illness']).count()

                                id  name  date  manner_of_death  armed   age  \
race signs_of_mental_illness
A    False                      69    69    69               69     66    67
     True                       24    24    24               24     24    24
B    False                    1114  1114  1114             1114   1054  1096
     True                      184   184   184              184    180   178
H    False                     745   745   745              745    702   723
     True                      157   157   157              157    155   155
N    False                      64    64    64               64     61    63
     True                       14    14    14               14     14    14
O    False                      37    37    37               37     34    36
     True                       11    11    11               11     11    11
W    False                    1763  1763  1763             1763   1677  1738
     True                      713   713   713              713    700   705

                              gender  city  state  threat_level  flee  \
race signs_of_mental_illness
A    False                        69    69     69            69    64
     True                         24    24     24            24    24
B    False                      1114  1114   1114          1114  1067
     True                        184   184    184           184   181
H    False                       745   745    745           745   702
     True                        157   157    157           157   150
N    False                        64    64     64            64    59
     True                         14    14     14            14    14
O    False                        37    37     37            37    36
     True                         11    11     11            11    11
W    False                      1763  1763   1763          1763  1686
     True                        712   713    713           713   694

                              body_camera
race signs_of_mental_illness
A    False                             69
     True                              24
B    False                           1114
     True                             184
H    False                            745
     True                             157
N    False                             64
     True                              14
O    False                             37
     True                              11
W    False                           1763
     True                             713